
        body {
            font-family: Arial, sans-serif;
            background:url('bg.jpg') no-repeat;
            background-size: cover;
            background-position: center;
            color: #fff;
            /* display: flex;
            align-items: center;
            padding: 0 10%; */
            
           
        }
        header {
            
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        section {
            margin: 20px;
            padding: 20px;
            background: transparent; /* Light background for content sections */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            text-align: center;
        }
        .content
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
        .profile img {
            
            max-width: 200px;
            border-radius: 10%;
            text-align: center;
        }
        .social-media ul {
            list-style: none;
            padding:0;
            display: flex;
            justify-content: center;
            text-align: center;
            
        }
        .social-media ul li {
            margin: 10px;
        }
        footer {
            
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
    